*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background:#333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.music-player{
    background: #ffe0e5;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
    border-radius: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}
.circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    color: #f53192;
    box-shadow: 0 5px 10px rgba(255,26,26,0.22);
}

.songImg{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgb(255,26,26,0.22);
    object-fit: cover;
    object-position: center;
}
.music-player h1{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-top: 20px;
}
.music-player p{
      color: #333;
      font-size: 14px;
}
#progress{
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #f53192;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}
#progress::-webkit-slider-thumb{
     -webkit-appearance: none;
     background: #f53192;
     width: 25px;
     height: 25px;
     border-radius: 50%;
     border: 5px solid #fff;
     box-shadow: 0 5px 5px rgba(255,26,26,0.22);

}
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}
.controls div{
    width: 55px;
    height: 55px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f53192;
     box-shadow: 0 5px 5px rgba(255,26,26,0.22);
     cursor: pointer;
     font-size: 1.3rem;
}

.controls div:nth-child(2){
    transform: scale(1.2);
    background: #f53192;
    color: #fff;
}